.hero {
    padding: 5.6vw;
    min-height: 80vh;
    background-image: url(../images/header1.jpg);

    &__content {
        max-width: 100%;
    }

    padding-top: 240px;
    font-size: 24px;
    font-family: "Special Elite", system-ui;
}